<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://127.12.26.1:3306/botteghino</property>
    <property name="connection.username">admin3YEI26m</property>
    <property name="connection.password">qHpklHbBGTph</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    
    <!-- configuration pool via c3p0--> 
	<property name="c3p0.acquire_increment">1</property> 
	<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
	<property name="c3p0.max_size">100</property> 
	<property name="c3p0.max_statements">0</property> 
	<property name="c3p0.min_size">10</property> 
	<property name="c3p0.timeout">100</property> <!-- seconds --> 
    
    <mapping class="it.fperfetti.asos.botteghino.model.Customer"/>
    <mapping class="it.fperfetti.asos.botteghino.model.Guest"/>
    <mapping class="it.fperfetti.asos.botteghino.model.Order"/>
    <mapping class="it.fperfetti.asos.botteghino.model.Ticket"/>
    
  </session-factory>
</hibernate-configuration>